[Unit]
Description=dask-worker

[Service]
Restart=always
RestartSec=20
TimeoutStartSec=0

ExecStart=dask worker --nworkers {{ dask.num_workers }} --dashboard-address {{ dask.dashboard_port }} {{ dask.scheduler_ip_address }}:{{ dask.scheduler_port }}

[Install]
WantedBy=multi-user.target
