[DEFAULT]
keyfile = 
daemon = True
ping_interval = 0
{% if 'login' in group_names %}
cpus = -2
{% else %}
cpus = 0
{% endif %}
clean = True
service_start = 
max_file_size = 0
ext_ip_addrs = []
scheduler_node = 
serve = -1
service_end = 
certfile = 
zombie_interval = 60.0
service_stop = 
scheduler_port = 51347
# If this is present but left empty dispynode throws and exception
# ip_addrs = []
client_shutdown = False
node_port = 51348
secret = 
loglevel = False
name = 
# Timeout value in seconds for socket I/O operations
msg_timeout = 30
dest_path_prefix = /mnt/dispy
