Host 192.168.158.*
  User ubuntu
  StrictHostKeyChecking no
  ProxyCommand ssh -F ssh.cfg -W %h:%p westcloud
  IdentityFile ~/.ssh/westcloud_rsa

Host westcloud
  Hostname PUBLIC_IP
  StrictHostKeyChecking no
  User ubuntu
  IdentityFile ~/.ssh/westcloud_rsa
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 5m
