Host {{ internal_subnet_network_address }}.*
  User ubuntu
  StrictHostKeyChecking no
  ProxyCommand ssh -F files/ssh.cfg -W %h:%p westcloud
  IdentityFile ~/.ssh/westcloud.pem

Host headnode {{ login_node_public_ip }}
  Hostname {{ login_node_public_ip }}
  StrictHostKeyChecking no
  User ubuntu
  IdentityFile ~/.ssh/westcloud.pem
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 5m
